
#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 1024px;
    margin: 0 auto;
    background-color: #356577;
    /*padding: 20px 40px;*/
}
h1 {
    background-color: #468947;
    display: inline;
    margin-left: 70px;
    margin-top: 50px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 50px;
	padding: 0 13px;
    line-height: 70px;

}
.HeaderConteiner{
    background-image: url(images/index1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    margin-bottom: 40px;
}
.HeaderConteiner p {
    display: inline;
    background-color: #567;
    margin-left: 70px;
}
.HeaderConteinerDescription {
    padding-top: 180px;
}
.summary {
    background-color: #FCEFFC;
}
.summary h2 {
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 30px;
}
h3 {
    margin-left: 50px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 25px;
}
p {
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}
.codeExamples {
    /*display: flex;*/
    background-color: green;

}
.examples {
    display: flex;
    justify-content: space-around;
    background-color: #457889;
}
figure {
    display: flex;
    background-color: yellow;
    border: 1px solid gray;
}
figure img {
    height: 200px;
}
