body {
     background-color: #f5e6ff;
}

#wrapper {
	margin: 0 auto;
	max-width: 1300px;
	position: relative;
	left: 1%;
	
} 
header {
	height:60px;
	width:100%;
	margin: 0 5px;
	padding: 10px 0;
	background-color: white;
}
header img /*лого*/{
	float:left;
	margin: 0 35px;
	width: 200px;
	height: 80px;
	vertical-align: center;
	position: relative;
	bottom: 10px;
	
}
form {
	float: left;
	margin:20px;
}
input[type="text"] {	
	background-color: white;
	height: 30px;
	color: gray;
	padding: 0 50px 0 10px;
} 
button {
	color: white;
	background-color: #e3a9be;
	border: none;
	height: 34px;
	font-family: 'Oswald', sans-serif;
} 
ul {
	background-color: white;
	float: left;
	list-style-type: none;
	text-decoration: none;	
	position: relative;
	left: 30px;
}
li{
	
	background-color: white;
	text-align: justify;
	vertical-align: center;
	display: inline-block;
}
li a {
	color: black;
	text-decoration: none;
	padding: 8px 15px 23px;
}
li a:hover {
	color: #e3a9be;
	
	text-decoration: none;
}
li.active {
	padding: 10px 15px 23px;
	border-bottom:3px solid #e3a9be;
	
}
.profil {
	float:right;
}
.foto-profil {
	height: 50px;
	width: 50px;
	margin: -12px 30px 10px;
	border-radius: 50%;
	overflow: hidden;
	float: right;
}
.profil a {
	float:left;	
	color: black;
	text-decoration: none;
	margin-top: 20px;
}
.profil a:hover {
	color: #e3a9be;
	text-decoration: none;
	
}
main{
	background-color: white;
	margin: 0;
	float: left;
	width: 73%;
	height: 65.5vh;
	position: relative;
	bottom: 14px;
	left: 5px;
}
h2 /*слово радио*/ {
	font-family: Tanoma, sans-serif;
	margin: 2px;
	padding: 20px 40px 5px;
	position: relative;
	left: 20px;
}
h2 a {
	text-decoration: none;
	color: black;
}
ul.main-menu li { /*меню главное*/
	padding: 10px 10px 10px;
	margin: 0;
} 
ul.main-menu a:hover {
	color: #e3a9be;  
}
.main-menu li.active {
	padding-bottom: 8px;
	margin: 0;
}
hr {
	margin: 0;
	padding: 0;
	
}
.stantsii {
	background-color: white;
	margin: 10px 20px;
	float: left;
}
figure {
	display: inline-block;
	background-color: white;
	margin: 3px;
	padding: 5px 5px 30px;
}

.stantsii-photo {
	height: 200px;
	width: 200px;
	margin: 10px 3px;
	border-radius: 50%;
	overflow: hidden;
	float: right;
	background-color: white;
}
.stantsii-photo:hover {
	box-shadow: 3px 3px 3px 3px darkgrey;
}
figcaption {
	text-align: center;
}

figcaption a{
	text-decoration: none;
	color: black;
}
figcaption a:hover {
	color: #e3a9be;
}
aside { /*реклама*/
	float: left;
	position: relative;
	left: 7px;
	bottom: 14px;
	background-color: white;
	width: 26.85%;
	height: 65.5vh;
} 
div.reklama {
	position: fixed;
	background-color: white;
}
aside a.rekl11 {
	font-size: 14px;
	position: relative;
	left: 100px;
	
}
aside a {
	text-decoration: none;
	text-align: right;
	font-size: 20px;
}
aside a:hover {
	text-decoration: underline;
}
footer {
	background-color: white;
	height: 100px;
	width: 100%;
	padding: 0;
	margin-top: 2px;
	float: left;
	
	position: relative;
	left: 5px;
	bottom: 10px; 
}
footer ul  {
	float: left;
	width: 400px;
	height: 70px;
}
footer li {
	padding: 3px;
	margin-top: 0;
	display: inline-block;

}
.footer {
	float: left;
	margin-top: 0;
	padding: 0;
	width: 500px;
	position: absolute;
	top: 20px;
	left: 11px;
}
.znaki {
	float: right;
	display: inline-block;
	margin-top: 0;
	padding: 0;
	width: 450px;
	position: absolute;
	top: 20px;
	left: 850px;
}
